@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="menu__item">
        <a class="link link--dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="menu__item">
        <a class="link link--dark" asp-area="Identity" asp-page="/ManageAphorisms">Add aphorisms</a>
    </li>
    <!--
    <li class="menu__item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <button type="submit" class="">Logout</button>
        </form>
    </li>
    -->
}
else
{
    <li class="menu__item">
        <a class="link link--dark" asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</a>
    </li>
    <li class="menu__item">
        <a class="link link--dark" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Page("/ManageAphorisms", new { area = "Identity" })"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
    </li>
}
