@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto/a su AforismiChuckNorris</h1>
    <p>AforismiChuckNorris è una JSON API che fornisce aforismi su Chuck Norris</p>
    <h2>Utilizzo</h2>
    <p>Restituisce un aforisma casuale su Chuck Norris</p>
    <samp>This text is meant to be treated as sample output from a computer program.</samp>
</div>
